<div class="center jumbotron">
    <h1>Course Search</h1>
    <%= form_tag("/courses", method: "get", remote: true, id: "search-form") do %>
        <%= text_field_tag(:name, params[:name])%>
        <%= select_tag(:subject_id, options_from_collection_for_select(Subject.all, "subject_id", "name", params[:name]), include_blank: "None", class: "custom-select") %>
    <% end %>
</div>

<div id = "search-results">
</div>