<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Course Catalog", '#', id: "logo" %>

      <!--Figure out a way to have a break between Course Catalog and the tabs -->
      <br>
      <nav>
        <ul class="nav nav-tabs"   style="border-bottom-width: 0px;">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

