<!DOCTYPE html>
<html>
  <head>
    <title>Course Catalog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Course Catalog</h1>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/instructors#index">Instructors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/courses#index">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/subjects#index">Subjects</a></p>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>
